@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --gold:#cfb04a;
   --orange:#f39c12;
   --red:#e74c3c;
   --black:#000000;
   --light-color:#666;
   --white:#fff;
   --light-bg:#f6f6f6;
   --border:.2rem solid var(--black);
   --borderRed:.2rem solid var(--red);
   --borderGold:.2rem solid var(--gold);
   --borderWhite:.2rem solid var(--white);
   --borderLogo: .2rem solid var(--white);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --box-shadow-form: 0 8rem 8rem rgba(0,0,0,.1);
}
*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   color:var(--black);
}
*::selection{
   background-color: var(--gold);
   color:var(--white);
}
*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}
*::-webkit-scrollbar-track{
   background-color: transparent;
}
*::-webkit-scrollbar-thumb{
   background-color: var(--gold);
}
@keyframes fadeIn {
   0%{
      transform: translateY(-1rem);
   }
}
body{
   background-color: var(--light-bg);
}
html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}
section{
   padding: 3em 2rem;
   max-width: 1200px;
   margin: 0 auto;
}
.btn,
.delete-btn,
.option-btn{
   display: block;
   width: 100%;
   margin-top: 1rem;
   border-radius: .5rem;
   color: var(--white);
   font-size: 2rem;
   padding: 1.3rem 3rem;
   text-transform: capitalize;
   cursor: pointer;
   text-align: center;
}
.btn{
   background-color: var(--gold);
}
.delete-btn{
   background-color: var(--red);
}
.option-btn{
   background-color: var(--orange);
}
/* .btn .fas, .btn .fa{
   color: var(--white);
} */
.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color: var(--black);
}
.flex-btn{
   display: flex;
   flex-wrap: wrap;
   gap: 1rem; 
}
.flex-btn > *{
   flex: 1;
}
.title{
   text-align: center;
   margin-bottom: 1rem;
   text-transform: capitalize;
   color: var(--black);
   font-size: 3.5rem;
}
.titleFName{
   text-align: center;
   margin-bottom: 1rem;
   text-transform: capitalize;
   color: var(--gold);
   font-size: 3rem;
}
.textUTitle{
   text-align: center;
   margin-bottom: 1rem;
   color: var(--black);
   font-size: 1.8rem;
   margin-bottom: 0.5rem;
}
.textUTitle a:hover, .textUTitle i{
   color: var(--gold);
}
.message{
   position: sticky;
   top: 0;
   max-width: 1200px;
   margin: 0 auto;
   background-color: var(--light-bg);
   padding: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1.5rem;
   z-index: 10000;
}
.message span {
   font-size: 2rem;
   color: var(--black);
}
.message i{
   font-size: 2.5rem;
   cursor: pointer;
   color: var(--red);
}
.message i:hover{
   color: var(--black);
}
.formcontainer{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
.formcontainer form{
   width: 50rem;
   background-color: var(--white);
   border-radius: .5rem;
   box-shadow: var(--box-shadow-form);
   text-align: center;
   padding: 2rem;
}
.formcontainer form h3{
   font-size: 3rem;
   color: var(--black);
   margin-bottom: 1rem;
   text-transform: uppercase;
}
.formcontainer form .box{
   width: 100%;
   margin: 1rem 0;
   border-radius: .5rem;
   border: var(--border);
   padding: 1.2rem 1.4rem;
   font-size: 1.8rem;
   color: var(--black);
   background-color: var(--light-bg);
}
.formcontainer form p{
   margin-top: 2rem;
   font-size: 2.2rem;
   color: var(--light-color);
}
.formcontainer form p a{
   color: var(--gold)
}
.formcontainer form p a:hover{
   text-decoration: underline;
}
.header{
   background: var(--black);
   position: sticky;
   top: 0; left: 0; right: 0;
   z-index: 1000;
   box-shadow: var(--box-shadow);
}
.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2rem;
   margin: 0 auto;
   max-width: 1200px;
   position: relative;
}
.header .flex .logo{
   font-size: 2.5rem;
   color: var(--white);
}
.header .flex a span{
   color: var(--gold);
}
.header .flex .navbar .specialColor{
   margin: 0 1rem;
   font-size: 2rem;
   color: var(--gold) !important;
}
.header .flex .navbar .specialColor:hover, .header .flex .navbar .navlink:hover{
   color: var(--gold);   
}
.header .flex .navbar .navlink{
   margin: 1rem;
   font-size: 2rem;
   color: var(--white);
}
.header .flex .icons > *{
   font-size: 2.5rem;
   color: var(--white);
   cursor: pointer;
   margin-left: 1.5rem;
}
.header .flex .icons > *:hover, .header .flex .icons span:hover, .header .flex .icons a i:hover ,header .flex .icons span, .header .flex .icons .specialC, .header .flex .icons .spanSpecial{
   color: var(--gold);
}
.header .flex .icons span, .header .flex .icons a i{
   color: var(--white);
}
.header .flex .imgLogo .imgDiv{
   width: 11rem;
}
#menu-btn{
   display: none;
}
.header .flex .profile{
   position: absolute;
   top: 120%; right: 2rem;
   box-shadow: var(--box-shadow);
   border: var(--border);
   border-radius: .5rem;
   padding: 2rem;
   text-align: center;
   background-color: var(--white);
   width: 30rem;
   display: none;
   animation: fadeIn .2s linear;
}
.header .flex .profile.active{
   display: inline-block;
}
.header .flex .profile .imgProfile{
   height: auto;
   width: 20rem;
   border-radius: 50%;
   object-fit: cover;
}
.header .flex .profile .profileText{
   padding: .5rem 0;
   font-size: 2rem;
   color: var(--black);
   text-transform: capitalize;
}
.update-profile form .flex{
   display: flex;
   gap: 1.5rem;
   justify-content: space-between;
}
.update-profile form{
   max-width: 70rem;
   margin: 0 auto;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border: var(--border);
   border-radius: .5rem;
   padding: 2rem;
   text-align: center;
}
.update-profile form img{
   height: auto;
   width: 20rem;
   margin-bottom: 1rem;
   border-radius: 50%;
   object-fit: cover;
}
.update-profile form .inputBox span{
   display: block;
   padding-top: 1rem;
   font-size: 1.8rem;
   color:var(--black);
}
.update-profile form .inputBox{
   text-align: left;
   width: 100%;
}
.update-profile form .inputBox .box{
   width: 100%;
   padding: 1.2rem 1.4rem;
   font-size: 1.8rem;
   color: var(--black);
   border: var(--border);
   border-radius: .5rem;
   margin: 1rem 0;
   background-color: var(--light-bg);
}
.navlink[aria-current="page"]{
   color: var(--gold) !important;
}
.footer{
   background-color: var(--black);
}
.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap: 2.5rem;
   align-items: flex-start;
}
.footer .box-container .box h3{
   text-transform: uppercase;
   color: var(--white);
   margin-bottom: 2rem;
   font-size: 2rem;
}
.footer .box-container .box a,
.footer .box-container .box p{
   display: block;
   padding: 1.3rem 0;
   font-size: 1.6rem;
   color: var(--white);
}
.footer .box-container .box a i,
.footer .box-container .box p i{
   color: var(--gold);
   padding-right: 1rem;
}
.footer .box-container .box a:hover{
   text-decoration: underline;
   color: var(--gold);
}
.footer .credit{
   margin-top: 2rem;
   padding: 2rem 1.5rem;
   line-height: 1.5;
   border-top: var(--borderWhite);
   text-align: center;
   font-size: 1.6rem;
   color: var(--white);
}
.footer .credit span{
   color: var(--gold);
}
.empty{
   padding: 1.5rem;
   background: var(--white);
   color: var(--red);
   border-radius: .5rem;
   border: var(--border);
   font-size: 2rem;
   text-align: center;
   box-shadow: var(--box-shadow);
}
/* media queries */

@media (max-width: 991px){
   html{
      font-size: 55%;
   }
}
@media (max-width: 800px){
   .header .flex .imgLogo .imgDiv{
      width: 9rem;
   }
}
@media(max-width: 768px){
   #menu-btn{
      display: inline-block;
   }
   .header .flex .navbar{
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: var(--white);
      position: absolute;
      top:99%; left:0; right:0;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      padding-bottom: 2rem;
   }
   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      background-color: var(--black);
      padding-bottom: 1rem;
   }
   .header .flex .navbar a{
      display: block;
      margin:2rem;   
   }
   .update-profile form .flex{
      flex-wrap: wrap;
   }
}

@media (max-width: 450px){

   html{
      font-size: 50%;
   }
   .flex-btn{
      flex-flow: column;
      gap: 0;
   }
   .title{
      font-size: 3rem;
   }
}
@media (max-width: 210px){
   .header .flex .imgLogo .imgDiv{
      width: 8rem;
   }
}