@import url('components.css');

.home-bg{
    background: url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.home-bg .home{
    display: flex;
    min-height: 60vh;
}
.home-bg .home .content{
    width: 100%;
}
.home-bg .home .content h3{
    font-size: 3.5rem;
    color: var(--black);
}
.home-bg .home .content p{
    font-size: 2rem;
    padding: 1rem 0;
    line-height: 2;
    color: var(--black);
}
.home-bg .content .bigLogoH{
    width: 50rem;
}
.home-category{
    padding-bottom: 0;
}
.home-category .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}
.home-category .box-container .box{
    padding: 2rem;
    text-align: center;
    border: var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}
.home-category .box-container .box img{
    width: 100%;
    margin-bottom: 1rem;
}
.home-category .box-container .box h3{
    text-transform: capitalize;
    color: var(--black);
    padding: 1rem 0;
    font-size: 2rem;
}
.home-category .box-container .box p{
    line-height: 2;
    font-size: 1.5rem;
    color: var(--black);
    padding: .5rem 0;
}
.home-category .box-container .box .catIcon{
    font-size: 5rem;
    color: var(--black);
    padding: 1rem;
}
.home-category .box-container .box .catIcon:hover{
    font-size: 4.9rem;
    color: var(--gold);
}

@media (max-width: 991px){
    .home-bg{
        height: 58rem;
    }
 }
@media (max-width: 768px){
    .home-bg .home{
        justify-content: center;
        text-align: center;
    }
    .home-bg .content .bigLogoH{
        width: 50rem;
    }
    .home-bg{
        height: 45rem;
    }
    .home-bg .home{
        display: flex;
        min-height: 50vh;
    }
}
@media (max-width: 768px){
    .home-bg .content .bigLogoH{
        width: 40rem;
    }
}
@media (max-width: 450px){
    
    .home-category .box-container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .products .box-container{
        grid-template-columns: 1fr;
    }
    .home-bg .home{
        display: flex;
        min-height: 35vh;
    }
}
@media (max-width: 400px){
    .home-bg .content .bigLogoH{
        width: 28rem;
    }
    .home-bg{
        height: 35rem;
    }
    .home-bg .home{
        display: flex;
        min-height: 30vh;
    }
}
@media (max-width: 290px){
    .home-bg .content .bigLogoH{
        width: 15rem;
    }
    .home-bg{
        height: 20rem;
    }
    .home-bg .home{
        display: flex;
        min-height: 20vh;
    }
}